.logo{
    background-color: yellow;
    border-radius: 0 100px 0 100px;
    color: maroon;
    float: right;
    padding: 5px;
    border: solid red;
    width: 175px;
    height: 160px;
}

    

.marquee{
    text-align: center;
    background-color: burlywood;
width: 750px;
}
.hri{
    background-color: orangered;
    height: 5px;
}
.hrr{
    width: 5px;
    height: 300px;
    background-color: orange;
    float: left;
    margin: 30px;
}
.home{
    color: white;
    background-image: url("./image/1647414912980.jpg");
background-repeat: no-repeat;
background-size: cover;
    
}
.shandow{
    background-color: rgb(211, 211, 211);
    width: 300px;
    padding: 5px;
    
    
}
.order{
    margin: 20px;
    color: white;
    background-color: orange;
    padding: 10px;
    width: 150px;
}
body{
    width: 75%;
    animation-name: body;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 1s;
}
@keyframes body{

from{width: 75%; background-color: yellowgreen;}
to{width: 50%; background-color: papayawhip;}
}





.marquee{
   
}
body{
margin: 10%;


}
.menu{
    background-color: grey;
    color: white;
    font-size: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    
    
}
.menu:hover{
    background-color: yellowgreen;
}
.list{
    background-color: lightblue;
    display: none;
    width: 10%;
}
.list a{
    display: block;
}
.list a:hover{
    background-color: white;
}
.dropdown:hover .list{
    display: block;
}

.wel{
    background-color: pink;
    width: 65px;
    padding: 10px;
    margin: 5px;
    animation-name: wel;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes wel{
0%{background-color: sandybrown;}
25%{background-color: salmon;}
50%{background-color: green;}
75%{background-color: blue;}
100%{background-color: mediumaquamarine;}


}